sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: O7dbgkQkfJxon1vgmA0uc5p2z0LAzTCikQZ9wyox9LuJSYwZoSBoQTxR+WKlCNrkLndmXVXoGpz2NSWW8fKXEnJOr94hojlWK1n91mSktksS0jLQ1pnw5Soz8Ya4xb7jr4DCtQOjxpnZSd8n6wYGI+JTGvtegLtsqiSxn/88x8s5G1j9ppeS7vmu+zfw9pl4G81m/W2aihRYZ3nEOg0F35LeECV+4LoDNAv25gmfew008VO5lN6MwRF4HonqUlt3vXYVphzQstXF4xuHSvRr2cD6J6POSEADbkvubQA6LvZiwY0AvXO5IiGLyrrX8qqt98XuGkFVoev+9IqBLZOwqzdkJ22qRPjUX3nmcRDpdvpVdKv8Ii2gZGO3wEIkY+8zkJ0htPCTP3e9D6dWqg68eM5sF1pmUp0NXnmgqKNEADkC0AuvPGR7qyLG3cqYVDQyqH6nXmmhrh9eb93OyH/6HlvnJMICfbFGKkMy9JZCytFWoneajBN39cYi8VBVhDw1hx9mneJAaPyHVe3AJCJcak3xSrInBFnsLVeVpmvp54C3AadwDZjXnngliqcwWEuEEorBdWWsEm8kvJ9csrY/zB0L8wcXTHZnEmW8vAMgn8QY4kSVp0RQptnq4XKVwp0WNebXFIEy+xQUdVLWgj7NfU4P4fDGmitMSyhf+ElkVaM=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Cinq-Mars-Volume-3_3949
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy